.previewBtn {
  background-color: white;
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 10px;
  gap: 20px;
}

.previewBtn > button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container {
  padding: 20px;
}

.actionBody {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modalContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.inputContainer {
  display: flex;
  column-gap: 20px;
  row-gap: 30px;
  flex-wrap: wrap;
}

.newUserCta {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
